.centrar{
  margin-top: 7px; 
}
.box-principal{
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  width: 80%;
}
.card{
  margin-top: 4px;
  box-shadow: inset 0 0 10px rgba(0,0,0,.2);
}
.card-img-top{
  width: 150px;
  height:150px;
  margin-top: 5px;
}
.list-group-item{
    padding: 8px;
  }
.options{
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-deck{
  display: flex;
  flex-wrap:wrap;
}
hr.style-line { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
  margin-bottom: 0px
} 
hr.style-line:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 350px;
  height: auto;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 6px;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 10;
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}